/*----------------------------------------*/
/*---------DEFAULT SETUP---------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;   
}
/*----------------------------------------*/
/*---------REUSABLE COMPONENT---------*/
h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
    padding: 30px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 1140px;
    margin: 0 auto;
    background-color: lavender;
    padding: 0 20px;
}

/*----------------------------------------*/
.avatar_img{
    border-radius: 50%;
    float: left;
    position: relative;
    margin-left: 38%;
    margin-top: 10px;
}
img {
    display: block;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-left: 35%;
    margin-top: 50px;
}
.tilte{
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
    padding: 3px 0;
    text-align: center;
}
.info{
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: 500;
    transition: border-bottom 0.5s;
    padding: 3px 0;
    text-align: center;
}

